@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");

:root {
  --bg-core: #333;
  --bg-form: #1f1f1f;
  --stroke-form: #666666;
  --bg-output: #444444;
  --bg-modal-success: rgba(0, 99, 33, 0.955);
  --bg-modal-error: rgba(114, 0, 0, 0.955);
  --stroke-modal-success: #00cb44;
  --stroke-modal-error: #fa9898;
  --accent-green: #00cb44;
  --shadow-green: #009533;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Chivo", sans-serif;
}

input,
button {
  border: 0;
}

body {
  background-color: var(--bg-core);
  color: var(--white);
  overflow-x: hidden;
}

#root {
  max-width: 96rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.modal {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  max-width: 20rem;
  line-height: 1.5;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.5s transform;
}

.modal.success {
  background-color: var(--bg-modal-success);
  outline: 2px solid var(--stroke-modal-success);
}

.modal.error {
  background-color: var(--bg-modal-error);
  outline: 2px solid var(--stroke-modal-error);
}

.modal.show {
  transform: translateX(0);
}

.modal.hide {
  transform: translateX(200%);
}

.form-box {
  border: 2px solid var(--stroke-form);
  background-color: var(--bg-form);
  border-radius: 1rem;
  padding: 3rem 2rem;
}

.form-handle:not(:last-child) {
  margin-bottom: 2.75rem;
}

.form-handle {
  display: flex;
  flex-direction: column;
}

.form-handle label {
  margin-bottom: 0.625rem;
}

.form-handle input {
  padding: 0.875rem 1.125rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-form);
}

.form-box > button {
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-green);
  box-shadow: 0 5px 0 0 var(--shadow-green);
}

.form-box > button:hover {
  cursor: pointer;
}

.form-box > button:active {
  transform: translateY(5px);
  box-shadow: none;
}

#root > section:nth-child(2) {
  width: 25%;
  margin-top: -12rem;
}

.output-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.output-box > span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.pwd-regenerate {
  transition: 0.5s transform;
  color: var(--accent-green);
}

.pwd-regenerate:hover {
  cursor: pointer;
}

.pwd-regenerate:active {
  transform: rotateZ(180deg);
}

.pwd-output {
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--bg-output);
}

.output-box .pwd-copy {
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--black);
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--accent-green);
  box-shadow: 0 5px 0 0 var(--shadow-green);
}

.output-box .pwd-copy:hover {
  cursor: pointer;
}

.output-box .pwd-copy:active {
  transform: translateY(5px);
  box-shadow: none;
}

.pwd-customisation {
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.pwd-customisation > * {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.pwd-customisation input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 768px) {
  #root {
    height: auto;
    padding-inline: 1.5rem;
    padding-block: 2.5rem;
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .modal {
    max-width: 70vw;
  }

  #root > section:nth-child(2) {
    width: 60%;
    margin-top: 0;
  }

  .pwd-customisation {
    margin-block-start: 3rem;
  }
}

@media (max-width: 425px) {
  #root > section:nth-child(2) {
    width: 100%;
  }
}
